@import "tailwindcss";


*{
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
  }



  /* index.css */


html {
  transition: background-color 0.3s, color 0.3s;
}

/* .light {
  background-color: #ffffff;
  color: #000000;
} */

.dark {
  background-color: #1a202c;
  color: #ffffff;
}

.grey {
  background-color: #2f2f2f;
  color: #f0f0f0;
}
